<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./index.css" type="text/css"> 
    </head>
    <body>
        <div class="grid-container">
            <div class="header">
                <div class="brand"><img src="logo.png" alt="AJIO"></div>
                <div class="links">
                    <a href="#">Sign In</a>
                    <a href="#">Cart</a>
                </div>
            </div>
            <main class="main">
                <div class="content">
                  <ul class="products">
                    <li>
                      <div class="product">
                            <img class="product-image" src="d1.jpg" alt="product" />
                            <div class="info">
                                <div class="product-name"><a href="product.html">Slim Shirt</a> </div>
                            <div class="product-brand">Nike</div>
                            <div class="product-price">$60</div>
                            <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                      </div>
                    </li>
                    <li>
                        <div class="product">
                              <img class="product-image" src="d1.jpg" alt="product" />
                              <div class="info">
                                  <div class="product-name"><a href="product.html">Slim Shirt</a> </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                              </div>
                        </div>
                      </li>
                      <li>
                        <div class="product">
                              <img class="product-image" src="d1.jpg" alt="product" />
                              <div class="info">
                                  <div class="product-name"><a href="product.html">Slim Shirt</a> </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                              </div>
                        </div>
                      </li>
                      <li>
                        <div class="product">
                              <img class="product-image" src="d1.jpg" alt="product" />
                              <div class="info">
                                  <div class="product-name"><a href="product.html">Slim Shirt</a> </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                              </div>
                        </div>
                      </li>
                      <li>
                        <div class="product">
                              <img class="product-image" src="d1.jpg" alt="product" />
                              <div class="info">
                                  <div class="product-name"><a href="product.html">Slim Shirt</a> </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                              </div>
                        </div>
                      </li>
                      <li>
                        <div class="product">
                              <img class="product-image" src="d1.jpg" alt="product" />
                              <div class="info">
                                  <div class="product-name"><a href="product.html">Slim Shirt</a> </div>
                              <div class="product-brand">Nike</div>
                              <div class="product-price">$60</div>
                              <div class="product-rating">4.5 Stars (10 Reviews)</div>
                              </div>
                        </div>
                      </li>
                  </ul>
                </div>
                    </main>
            <footer class="footer">
                All right reserved.
            </footer>
        </div>
    </body>
</html>