<!DOCTYPE html>
    <head>
        <title></title>
         <link rel="stylesheet" href="./index.css" type="text/css">
    </head>
    <body>
        <div class="back-to-results">
            <a href="index.html">Back to results</a>
        </div>
        <div class="details">
            <div class="details-image">
                <img src="d1.jpg" alt="product">
            </div>
            <div class="details-info">
                <ul>
                    <li><h4>Casual Shirts</h4></li>
                    <li>4 Stars 61 Reviews</li>
                    <li>$ 60</li>
                    <li>Description :</li>
                </ul>
            </div>
            <div class="details-action">
                <ul>
                    <li>Price: $60</li>
                    <li>Status:</li>
                    <li>
                        Qty:<select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                        </select>
                    </li>
                    <li>
                        <button class="button primary">ADD TO CART</button>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>